body {
	background-color: #f19a3e;
}

h1 {
	text-align: center;
	font-family: 'Girassol', cursive;
	font-size: 50px;
}

p {
	text-align: center;
	padding: 50px;
	font-size: xx-large;
	font-family: 'Indie Flower', cursive;
}

.box {
	border: 5px solid black;
	width: 300px;
	padding: 150px;
	height: 200px;
	margin: 0 auto;
	bottom: 25px;
	background-image: url(./images/Gallows.png);
	background-size: cover;
	background-position: center;
}

.guesses {
	font-size: 60px;
	text-align: center;
}

button {
	display: inline-block;
	padding: 20px;
}

.letters {
	text-align: center;
	padding:50px;



}
.categories {
	font-size: 29px;
	text-align: center;
	font-style: italic; 
	
}

#modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.4);
}
#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px) {
	body {
		background-color: #f19a3e;
	}

	h1 {
		font-size: 36px;
	}

	p {
		display: block;
		padding: 25px;
	}
	.wrapper {
		display: inline-block;
		background-position: center;
	}
}
